@import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #d17a22;
  --color-accent: #000000;
  --color-background-light: #fcf9f2;
  --color-card-light: #ffffff;
  --color-border-light: #efede7;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fcf9f2;
  -webkit-font-smoothing: antialiased;
}

.font-titan {
  font-family: "Titan One", cursive;
}

.attribute-text {
  @apply text-[10px] font-bold tracking-[0.1em] text-stone-900;
}